<article class="post">
    <div class = "content">
        <p>User Name: {{posts.[0].user.username}}</p>
        <p>Posts: {{posts.length}}</p>
        <a href="/public/dashboard/edituser">Edit My Info</a>
    </div>
</article>